@page "{restaurantId:int}"
@model RestaurantApp.Pages.Restaurants.EditModel
@{
}

<h2>Edit <span class="text-info">@Model.Restaurant.Name</span></h2>
<br />

<div><strong>Location:&nbsp;</strong> @Model.Restaurant.Location</div>
<div><strong>Cuisine:&nbsp;</strong> @Model.Restaurant.Cuisine</div>