@page
@model RestaurantApp.Pages.Restaurants.ListModel
@{
}

<h1>Restaurants</h1>
<br />
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <button class="btn btn-info">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>
<br />

@foreach (var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
}

<a asp-page="./Edit" class="btn btn-info">Add New Restaurant</a>
<br />
<br />
<br />
<br />

@section footer {
    <div>@Model.Message</div>
}
