@model int

<div class="pt-3 pb-3">
    <h5>There are <strong class="text-info">@Model</strong> restaurants here.</h5>
    <a class="btn btn-light" asp-page="/Restaurants/List">See them all</a>
</div>